::-webkit-scrollbar {
  width: 8px;
  padding-right: 2px;
  background: var(--primary);
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--secundary);
  border-radius: 8px;
}